@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --theme_color: #07689f;
}
/* About */
.active{
    color: #ff7e67!important;
}
.custom_bold{
    font-weight: bold;
}
.namenposition{
    font-family: 'Nunito Sans', sans-serif;
}
.basic_info{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: var(--theme_color);
}
.custom_body{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(./img/coverimg.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/coverimg.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
.custom_navbar{
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
}
.custom_navbar a{
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    color: white;
}
.custom_navbar a:hover{
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    color: white;
    background-color: var(--theme_color);
    transform: translateY(-3px);
}
.custom_navbar_item{
    padding: 20px;
    width: 100%;
}
.img_div{
    margin-top: 12%;
}
.img_div img{
    box-shadow: 0 0px 30px 10px rgb(7,104,159,1), 0 6px 20px 0 rgb(7,104,159,1);
    width: 250px;
}
.zoom{
    transition: all 0.5s ease;
}
.zoom:hover{
    transform: scale(1.1);
}
.custom_card {
    margin-top: 25%;
    border: 2px solid #ededed;
    background-color: #f2f3f5;
    padding: 2.5rem 1.875rem;
    border-radius: 50px;
    font-family: 'Bree Serif', serif;
}
.basic_info_content{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 14px;
}
.basic_info_content2{
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    color: #54606b;
}

/* Skills */
.skills_custom_body{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(./img/skills_cover.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/skills_cover.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
.skills_custom_card {
    margin-top: 10%;
    border: 2px solid #ededed;
    background-color: #f2f3f5;
    padding: 2.5rem 1.875rem;
    border-radius: 50px;
    font-family: 'Bree Serif', serif;
}
/* Projects */
.projects_custom_body{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(./img/projects_cover.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/projects_cover.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    max-height: 200vh;
}
.description{
    font-family: 'Raleway', sans-serif;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}
.projects_custom_card {
    margin-top: 6%;
    border: 2px solid #ededed;
    background-color: #f2f3f5;
    padding: 2.5rem 1.875rem;
    border-radius: 50px;
    font-family: 'Bree Serif', serif;
    margin-bottom: 20px;
}
/* Experience */
.exp_custom_body{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(./img/exp_cover.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/exp_cover.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    max-height: 200vh;
}
.exp_custom_card {
    margin-top: 10%;
    border: 2px solid #ededed;
    background-color: #f2f3f5;
    padding: 2.5rem 1.875rem;
    border-radius: 50px;
    font-family: 'Bree Serif', serif;
    margin-bottom: 20px;
}
.timeline_title{
    font-weight: bold;
    text-decoration: none;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    color: #54606b;
}
.timeline_date{
    color: #ff7e67;
}
.timeline_title:hover{
    text-decoration: none;
}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: '';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 50px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #07689f;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/* For Tablets */
@media(min-width: 768px) and (max-width: 991px){
    /* About */
    .img_div{
        margin-top: 4%;
    }
    .img_div img{
       width: 200px;
    }
    .custom_card {
        width: 380px;
        margin-top: 10%;
    }
    /* Skills */
    .skills_custom_body{
        /* width: fit-content; */
        height: 110vh;
    }
    .skills_custom_card {
        width: 100%;
        margin-top: 5%;
    }
    /* Projects */
    .projects_custom_body, .exp_custom_body{
        min-height: 100vh;
        max-height: 300vh;
    }
}

@media(min-width: 401px) and (max-width: 767px) {
    .custom_body{
        min-height: 150vh;
        max-height: 500vh;
    }
}

/* For Smartphones */
@media only screen and (max-width: 400px) {
    /* About */
    .custom_body{
        width: fit-content;
        height: 150vh;
    }
    .custom_navbar{
        background-color: rgba(0, 0, 0, 0.2);
        width: fit-content;
    }
    .custom_navbar a:hover{
        font-size: 17px;
    }
    .img_div img{
        width: 200px;
    }
    /* Skills */
    .skills_custom_body{
        width: fit-content;
        height: 110vh;
    }
    /* Projects */
    .projects_custom_body, .exp_custom_body{
        width: fit-content;
        min-height: 100vh;
        max-height: 300vh;
    } 
}